@tailwind base;
@tailwind components;
@tailwind utilities;

.dynamic-shadow {
  position: relative;
}

.dynamic-shadow:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: inherit;
  top: 0.5rem;
  filter: blur(0.4rem);
  opacity: 0.7;
  z-index: -1;
}